@model Bleff.ViewModels.GameVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="col-xs-10">
        <p class="lead">BLEFF - Sala @Model.ActualGame.Id</p>
    </div>
</div>

<div class="col-xs-3">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col" class="col-xs-1 text-center">Puntaje</th>
                <th scope="col" class="col-xs-3 text-center">Jugadores</th>
            </tr>
        </thead>
        <tbody id="playersTable">
            @foreach (var player in Model.ActualGame.Players)
            {
                <tr data-playerid="@player.PlayerID">
                    <td class="col-xs-1 text-center">0</td>
                    <td class="col-xs-3 text-center">
                        @if (player.PlayerID == Model.ActualPlayer.PlayerID)
                        {
                            <span class="glyphicon glyphicon-star-empty pull-left"></span>
                        }
                        <span>@player.Name</span>
                        @if (player.PlayerID == Model.ActualGame.ActualCoordinator.PlayerID)
                        {
                            <span class="glyphicon glyphicon-pencil pull-right"></span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">
    </script>

    <style type="text/css">
        .glyphicon.glyphicon-pencil {
            color: red;
        }
    </style>
}