@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>BLEFF</h1>
    <p class="lead">Alto juego</p>
</div>

<div class="row">
    <div class="col-md-4">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#CreateGameTab" data-toggle="tab">Crear Juego</a></li>
            <li><a href="#JoinGameTab" data-toggle="tab">Unirse a Juego</a></li>
        </ul>

        <div class="tab-content clearfix">
            @*First TAB*@
            <div class="tab-pane active" id="CreateGameTab">
                <form action="/Home/Index" method="post">
                    <div class="form-group">
                        <label for="playerName">Nombre:</label>
                        <input type="text" class="form-control" id="playerName" name="PlayerName">
                    </div>
                    <button type="button" id="btnCrearPartida" class="btn btn-primary">Crear Partida</button>
                </form>
            </div>

            @*Second TAB*@
            <div class="tab-pane" id="JoinGameTab">
                <form action="/Home/Index" method="post">
                    <div class="form-group">
                        <label for="playerName">Nombre:</label>
                        <input type="text" class="form-control" id="playerName" name="PlayerName">
                    </div>
                    <div class="form-group">
                        <label for="gameID">Nombre:</label>
                        <input type="text" class="form-control" id="gameID" name="GameID">
                    </div>
                    <button type="submit" id="btnCrearPartida" class="btn btn-primary">Unirse a la Partida</button>
                </form>
            </div>

        </div>
    </div>
</div>

<style>
    .tab-pane{
        padding-top: 20px;
    }
</style>