@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>BLEFF</h1>
    <p class="lead">Alto juego</p>
</div>

<div class="row">
    <div class="col-md-7">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#CreateGameTab" data-toggle="tab">Unirse al Juego</a></li>
            @*<li><a href="#JoinGameTab" data-toggle="tab">Unirse a Juego</a></li>*@
            <li><a href="#WordGenerator" data-toggle="tab">Generador de palabras</a></li>
        </ul>

        <div class="tab-content clearfix">
            @*First TAB*@
            <div class="tab-pane active" id="CreateGameTab">
                <form action="/Home/Index" method="post">
                    <div class="form-group">
                        <label for="playerName">Nombre:</label>
                        <input type="text" class="form-control" id="playerNameNewGame" name="PlayerName" autocomplete="off">
                    </div>
                    <button type="submit" id="btnCrearPartida" class="btn btn-primary">Entrar</button>
                </form>
            </div>

            @*Second TAB*@
            @*<div class="tab-pane" id="JoinGameTab">
                <form action="/Home/Index" method="post">
                    <div class="form-group">
                        <label for="playerName">Nombre:</label>
                        <input type="text" class="form-control" id="playerNameJoinGame" name="PlayerName" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="gameID">Código de la Partida:</label>
                        <input type="number" class="form-control" id="gameID" name="GameID" autocomplete="off">
                    </div>
                    <button type="submit" id="btnCrearPartida" class="btn btn-primary">Unirse a la Partida</button>
                    <input type="hidden" name="StartedActionSelected" value="@((int)Bleff.Models.StartingAction.JoinGame)" />
                </form>
            </div>*@

            @*Third TAB*@
            <div class="tab-pane" id="WordGenerator">
                <div class="row">
                    <div id="choseWordSection" class="col-xs-10 chose-word-section">
                        <div id="chosenWord" class="chosen-word row text-center"></div>
                        <div class="definition-section pull-left col-xs-12 row">
                            <b>Definición: </b>
                            <span id="definition"></span>
                        </div>
                    </div>
                    <div id="divRerollWord" class="col-xs-2">
                        <button type="button" id="btnRerollWord" class="btn btn-primary" onclick="getRandomWord()">Buscar otra</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="aux" class="hidden"></div>

<script type="text/javascript">
    $(document).ready(function () {
        @if(((bool?)TempData[Bleff.Keys.TempDataKeys.GameSearchFailed]).HasValue && ((bool?)TempData[Bleff.Keys.TempDataKeys.GameSearchFailed]).Value)
        {
            <text>showSimpleModal("Aviso", "El juego buscado no se encontró");</text>
        }else if(((bool?)TempData[Bleff.Keys.TempDataKeys.GameStarted]).HasValue && ((bool?)TempData[Bleff.Keys.TempDataKeys.GameStarted]).Value)
        {
            <text>showSimpleModal("Aviso", "El juego buscado ya está en curso");</text>
        }

        getRandomWord();
    });

    function getRandomWord() {
        $.ajax({
            type: "GET",
            url: "/game/GetRandomWord",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                $("#aux").append(data)
                var partialWord = $("header");
                var word = "";
                partialWord.each(function (i, e) {
                    word += $(e).text() + " ";
                });
                $("#chosenWord").text(word);

                var partialDef = $("p.j:first").children(":not(span):not(abbr)");
                var definition = "";
                partialDef.each(function (i, e) {
                    definition += $(e).text() + " ";
                });
                $("#definition").text(definition);

                $("#aux").empty();
            }
        });
    }
</script>

<style>
    .tab-pane {
        padding-top: 20px;
    }

    .chosen-word {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
    }

    .definition-section {
        padding: 13px;
        margin-top: 15px;
        border: 1px solid #ccc;
        border-radius: 16px;
    }

    #divRerollWord {
        padding-top: 50px;
    }
</style>