@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>BLEFF</h1>
    <p class="lead">Alto juego</p>
</div>

<div class="row">
    <div class="col-md-4">
        <form action="/Home/Index" method="post">
            <div class="form-group">
                <label for="playerName">Nombre:</label>
                <input type="text" class="form-control" id="playerName" name="PlayerName">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>