@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>BLEFF</h1>
    <p class="lead">Alto juego</p>
</div>

<div class="row">
    <div class="col-md-4">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#CreateGameTab" data-toggle="tab">Unirse al Juego</a></li>
            @*<li><a href="#JoinGameTab" data-toggle="tab">Unirse a Juego</a></li>*@
        </ul>

        <div class="tab-content clearfix">
            @*First TAB*@
            <div class="tab-pane active" id="CreateGameTab">
                <form action="/Home/Index" method="post">
                    <div class="form-group">
                        <label for="playerName">Nombre:</label>
                        <input type="text" class="form-control" id="playerNameNewGame" name="PlayerName" autocomplete="off">
                    </div>
                    <button type="submit" id="btnCrearPartida" class="btn btn-primary">Entrar</button>
                </form>
            </div>

            @*Second TAB*@
            @*<div class="tab-pane" id="JoinGameTab">
                <form action="/Home/Index" method="post">
                    <div class="form-group">
                        <label for="playerName">Nombre:</label>
                        <input type="text" class="form-control" id="playerNameJoinGame" name="PlayerName" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="gameID">Código de la Partida:</label>
                        <input type="number" class="form-control" id="gameID" name="GameID" autocomplete="off">
                    </div>
                    <button type="submit" id="btnCrearPartida" class="btn btn-primary">Unirse a la Partida</button>
                    <input type="hidden" name="StartedActionSelected" value="@((int)Bleff.Models.StartingAction.JoinGame)" />
                </form>
            </div>*@

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        @if(((bool?)TempData[Bleff.Keys.TempDataKeys.GameSearchFailed]).HasValue && ((bool?)TempData[Bleff.Keys.TempDataKeys.GameSearchFailed]).Value)
        {
            <text>showSimpleModal("Aviso", "El juego buscado no se encontró");</text>
        }else if(((bool?)TempData[Bleff.Keys.TempDataKeys.GameStarted]).HasValue && ((bool?)TempData[Bleff.Keys.TempDataKeys.GameStarted]).Value)
        {
            <text>showSimpleModal("Aviso", "El juego buscado ya está en curso");</text>
        }
    });
</script>

<style>
    .tab-pane {
        padding-top: 20px;
    }
</style>